<h1 id="minethat-engineering">Minethat engineering</h1>
<h3 id="code-quality-assurance">Code quality assurance</h3>
<p>Here at Minethat, we believe in quality software. What does it mean for us? We don&#39;t speak here about testing, that is uber important when writing softwares, but the tools that are complements to your tests.</p>
<h4 id="first-setup-quality-assurance-tools-at-the-early-beginning">First, setup quality assurance tools at the early beginning</h4>
<p>We took the habit to spend hours before any project just working on a packaging of the new project that includes enough code quality assurance tools.</p>
<p>For example, any of our Java project starts with an empty source code already validated by a bunch of tools, such as Findbugs or PMD.</p>
<p>Those tools help us improve our code quality by validating such potential issues:</p>
<ul>
<li>Code conventions not followed</li>
<li>Potential bugs</li>
<li>Potential security issues</li>
<li>Code not covered by tests</li>
<li>Duplicated code</li>
</ul>
<p>and a lot more.</p>
<h3 id="second-setup-your-integration-process-so-quality-assurance-tools-run-at-each-stage">Second, setup your integration process so quality assurance tools run at each stage</h3>
<p>We setup all these tools to validate code at each change, even locally. Then once code is pushed we rerun all these tests and tools in a production environment, as part of our continuous integration and deployment process.</p>
<h3 id="third-store-everything-in-database">Third, store everything in database</h3>
<p>The golden rule of quality software. Every process should store a result in a database. This data let us have a good overview of the health of the software, monitor it recurently, and understand our common errors so we can plan new tools or new habits to avoid them the most possible.</p>
<h3 id="our-current-stack-of-tools">Our current stack of tools</h3>
<p>Here are the stacks of tools that we currently use for our codebase (that is primarily based on Java and Javascript).</p>
<h4 id="java">Java</h4>
<ul>
<li>Unit testing: jUnit</li>
<li>Logging: Log4J</li>
<li>Code analyzers: FindBugs + PMD</li>
<li>Coding conventions check: checkstyle</li>
<li>Test coverage analyzer: cobertura</li>
</ul>
<h4 id="javascript">Javascript</h4>
<ul>
<li>Code linter: JSLint ()</li>
<li>Logging: tracer (we prefered it over winston because of its handy MongoDB appender)</li>
</ul>
<h4 id="database">Database</h4>
<p>We store all error and warning reports in a Mongo database, as well as integration status (tests, builds, deployments). Both Log4J (Java) and tracer (Node) logging tools have appenders for MongoDB, so global setup is fast and simple.</p>
