<html>
    <head>

        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <div class="wrapper">

            <section class="table">
                <h3>Jobs <span class="count"><%= data.count %></span></h3>
                <a href="/app/documents">Documents</a>
                <table class="subscribers">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Job</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i < data.docs.length; i++) {%>
                        <tr data-item-id="<%= data.docs[i]._id %>">
                            <td><%= data.docs[i]._id %></td>
                            <td style="max-width: 1000px"><pre><%= data.docs[i] %></pre></td>
                        </tr>
                    <% } %>
                    
                    <% if (data.hasNext || data.hasPrevious) { %>
                        <div class="paginate">

                            <% if (data.hasPrevious) { %>
                                <a class="previous" href="?page=<%= data.page - 1 %>">Previous</a>
                            <% } %>
                            <% if (data.hasNext) { %>
                                <a class="next" href="?page=<%= data.page + 1 %>">Next</a>
                            <% } %>
                        </div>
                    <% } %>
                </table>
            </section>


        </div>
    </body>
</html>