.DS_Store
chrome/node_modules/
chunk/node_modules/
web-server/node_modules/
datasets/ignored/
datasets/crunch-api-scrap/
datasets/corpus/
java-apps/.idea/
java-apps/target/
java-apps/.surefire*
web/
corpora/
logs/*