<h1 id="benefits">Benefits</h1>
<h2 id="save-time-and-money">Save time and money</h2>
<h2 id="gain-knowledge">Gain knowledge</h2>
<h2 id="improve-your-writing">Improve your writing</h2>
<h1 id="features">Features</h1>
<h2 id="text-annotation">Text annotation</h2>
<h2 id="sentiment-analysis">Sentiment analysis</h2>
<h2 id="trend-discovery">Trend discovery</h2>
<h2 id="documents-encryption">Documents encryption</h2>
<h2 id="sdks-java-node-js-python">SDKs: Java, Node.js, Python</h2>
<h2 id="3-apis-mail-rest-web-chrome-extension">3 APIs (Mail, REST, web) + Chrome Extension</h2>
<h1 id="values">Values</h1>
<h2 id="design-to-scale">Design to scale</h2>
<h2 id="code-grammar-nazi">Code grammar nazi</h2>
