<h1 id="at-first-deployment">At first deployment</h1>
<p>These tasks are to be done before first deployment:</p>
<ul>
<li>Configure log4j file appenders so it targets log files</li>
<li>Configure log4j mongodb appender</li>
<li><p>Configure tracer file appenders + mongodb appenders</p>
</li>
<li><p>Configure MongoDB replication (x2)</p>
</li>
</ul>
<h1 id="before-launching">Before launching</h1>
<ul>
<li>Bug UI</li>
<li>Builds UI</li>
<li>Customer history UI</li>
<li>SSL</li>
<li>OAuth</li>
</ul>
