<h1 id="minethat">Minethat</h1>
<p>We believe that text-mining should be simple and accessible.</p>
<p>Here are a few examples of use:</p>
<ul>
<li>Rate website comments, propositions commerciales </li>
<li>Annotate your content</li>
</ul>
<h3 id="how-it-works">How it works</h3>
<p>Just drag a text file (PDF, Word, Markdown...) and wait for the result.
You&#39;re developer? We have some APIs for you.</p>
<h3 id="the-background">The background</h3>
<p>We use the best-in-class open source solutions in a modular way, letting you select what mining operation you want to run on texts. Once submitted, your text will be streamed accross dozens of processors that will analyse the text and annotate it.</p>
<h1 id="technical-introduction">Technical introduction</h1>
<p>Minethat utilities relies on different tools.</p>
<h2 id="tech-overview">Tech overview</h2>
<h3 id="java-services">Java services</h3>
<p>Text mining core services - core of Minethat offer - relies on a Java service. Main reason is the high number of open source and licensed Java APIs dedicated to various text mining tasks. All code lives in java-apps — IntellijIDEA project included.</p>
<h3 id="web-servers">Web servers</h3>
<p>All APIs are exposed through Node.js servers. Node is particularly efficient in serving stuff at any scale.</p>
