<h1 id="everybody-on-the-same-line">Everybody on the same line</h1>
<h3 id="what-we-are-what-do-we-want-">What we are (what do we want?)</h3>
<ul>
<li>We are minethat, a compagny that aim to allow everyone to better use and understand textual content.</li>
</ul>
<h3 id="benefits-what-is-important-to-customers-about-what-we-do-">Benefits (what is important to customers about what we do?)</h3>
<ul>
<li>With our tool, customers benefit some really actionable metrics (quality, statictics, anotations).</li>
</ul>
<h3 id="customers-what-are-our-most-successful-customer-stories-">Customers (What are our most successful customer stories?)</h3>
<h3 id="key-partners-what-makes-them-successful-using-our-products-">Key partners (What makes them successful using our products?)</h3>
<h3 id="competitors-how-are-we-different-from-our-competitors-">Competitors (How are we different from our competitors)</h3>
<ul>
<li>Simplicity.</li>
<li>Pricing.</li>
<li></li>
</ul>
