<h1 id="java-modules">Java modules</h1>
<h3 id="logging-testing-code-analysis">Logging/testing/code analysis</h3>
<ul>
<li>Logging: log4j 2</li>
<li>Testing/code quality:<ul>
<li>jUnit</li>
<li>findbugs, PMD, checkstyle, cobertura</li>
</ul>
</li>
<li>In IDE code analysis: IntellijIDEA code analyzer</li>
</ul>
<h3 id="text-mining">Text mining</h3>
<ul>
<li>NLP: Apache OpenNLP, Stanford POSTagger</li>
<li>Text extraction: Apache Tika</li>
</ul>
<h3 id="datasources">Datasources</h3>
<ul>
<li>MaxMind GeoIP 2</li>
</ul>
<h3 id="linked-data">Linked data</h3>
<ul>
<li>OpenRDF</li>
</ul>
<h1 id="node-modules">Node modules</h1>
<h3 id="logging-testing-code-analysis">Logging/testing/code analysis</h3>
<ul>
<li>Logging: <a href="https://github.com/baryon/tracer">tracer</a></li>
</ul>
