<h1 id="pricing">Pricing</h1>
<hr>
<table>
<thead>
<tr>
<th></th>
<th>Basic</th>
<th>Startup</th>
<th>Business</th>
</tr>
</thead>
<tbody>
<tr>
<td>Documents/month</td>
<td>10</td>
<td>1000</td>
<td>Unlimited</td>
</tr>
<tr>
<td>Web app submission</td>
<td>x</td>
<td>x</td>
<td>x</td>
</tr>
<tr>
<td>Email submission</td>
<td></td>
<td>x</td>
<td>x</td>
</tr>
<tr>
<td>API submission</td>
<td></td>
<td>x</td>
<td>x</td>
</tr>
<tr>
<td>Premium support</td>
<td></td>
<td></td>
<td>x</td>
</tr>
<tr>
<td>Initial training</td>
<td></td>
<td></td>
<td>x</td>
</tr>
<tr>
<td>Price</td>
<td>Free</td>
<td>$49/m</td>
<td>$499/m</td>
</tr>
</tbody>
</table>
<hr>
