<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Minethat</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="twitter:card" value="summary">

        <meta property="og:title" content="Minethat" />
        <meta property="og:type" content="profile" />
        <meta property="og:url" content="http://minethat.com/" />
        <meta property="og:image" content="http://minethat.com/img/logo.png" />
        <meta property="og:description" content="" />

        <meta name="twitter:site" content="@min3that">
        <meta name="twitter:title" content="Minethat">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="http://minethat.com/img/logo.png">

        <link rel="stylesheet" href="css/landing.css">

    </head>
    <body>
        <div class="wrapper" itemscope itemtype="http://schema.org/Organization">
            <header>
                    <h1>
                        <a href="http://minethat.co" title="Minethat">
                            <img itemprop="logo" src="/img/logo.png" alt="Minethat" title="Minethat" />
                        </a>
                    </h1>
            </header>
            <section>

                <p>We envision a future of news made of linked data and quality content.</p>

                <p>That's why we're creating <span itemprop="name">Minethat</span>, a new kind of text-mining web service for publishers, journalists and curators.</p>

                <p>With Minethat you will</p>

                <ul>
                    <li>Automate your curation</li>
                    <li>Increase your content quality</li>
                    <li>Gain knowledge from your content</li>
                    <li>Provide better recommendations to your readers</li>
                </ul>

                <p>In short, text-mining should be simple and actionable.</p>

                <p>We’re working hard with our early partners to provide you the best tool out there. To be part of the private beta, join the waiting list now!</p>

                <form method="post" id="subscribe">
                    <p style="display: none" class="result">
                    </p>
                    <div class="input-wrap email">
                        <input class="input" type="text" name="email" placeholder="Your email address" />
                        <div style="display: none;" class="message error dismissable">
                            Please provide a valid email address.
                        </div>
                        <input type="hidden" name="ref_campaign" value="<%= data.ref_campaign %>" />
                        <input type="hidden" name="ref_domain" value="<%= data.ref_domain %>" />
                    </div>
                    <div class="input-wrap cta">
                        <button class="button">
                            <div class="main">Join waiting list</div>
                            <div class="secondary">And get news about our progress</div>
                        </button>
                    </div>
                </form>
                <div id="subscribed" style="display: none">
                    <p><strong>You're in!</strong></p>
                    <p>Thanks! You should receive a confirmation email very soon. While we're here, would you mind to share Minethat?</p>
                    <ul>
                        <li><a target="_blank" title="Share on Twitter" href="https://twitter.com/home?status=Text-mining%20for%20publishers%20and%20journalists%20should%20be%20simple%20and%20actionable:%20introducing%20@Min3that%20http://minethat.co"><i class="fa fa-twitter"></i><span>Share on Twitter</span></a></li>
                        <li><a target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url=http://minethat.co&title=Minethat:%20actionable%20text-mining%20for%20publishers%20and%20journalists&summary=We%20envision%20a%20future%20of%20news%20made%20of%20linked%20data%20and%20quality%20content.%20That's%20why%20we're%20creating%20Minethat,%20a%20new%20kind%20of%20text-mining%20web%20service%20for%20publishers,%20journalists%20and%20curators.&source="><i class="fa fa-linkedin"></i><span>Share on LinkedIn</span></a></li>
                    </ul>
                </div>

            </section>
            <footer>
                <ul>
                    <li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        Carefully crafted in <span itemprop="addressLocality">Paris</span>, <span itemprop="addressCountry">France</span> by <a href="http://laumonier.co">Xav</a>
                    </li>
                    <li><a href="https://www.twitter.com/Min3that" title="I tweet about various stuff: UX, code, startuping, future of news..." target="_blank"><span>Follow us</span></a></li>
                    <li><a href="mailto:xav@laumonier.co"></i><span>Contact us</span></a></li>
                    <li>© Minethat 2014</li>
                </ul>
            </footer>
        </div>
        <script type="text/javascript" src="js/landing.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-19713849-9', 'auto');
          ga('send', 'pageview');
          ga('send', 'event', 'landing', 'init');

        </script>
    </body>
</html>