$main-color: #3F3F3F;
$second-color: #cdcdcd;
$third-color: #ddd;
$fourth-color: #fff;
$standout-color: #1180dd;
$standout-color-alt: #116cb9;
$standout-color-alt2: #085290;
$error-color: #ec4000;


::-webkit-input-placeholder { /* WebKit browsers */
    color: $second-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $second-color;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $second-color;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $second-color;
}

.input-wrap {

    margin-bottom: 20px;
    position:relative;

    .message {
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .error {
        border-radius: 2px;
    }

}


.input {
    display: block;
    background: $fourth-color;
    width: 100%;
    border-radius: 2px;
    border: 1px solid $second-color;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $main-color;

}

.input:focus {
    border-color: $main-color;
    color: $main-color;
}



.input-wrap.invalid {
    .input {
        border-color: $error-color;
    }
}



.button {
    background: $third-color;
    color: $main-color;
    border-radius: 2px;
    border: 0;
    padding: 12px 20px;
    font-weight: 200;
    text-decoration: none;
}

.button:hover, .button:focus {
    background: $main-color;
}


.cta {

    .button {
        background: $standout-color;
        color: $fourth-color;
        text-shadow: 1px 1px $standout-color-alt2;

        .main {
            font-size: 26px;
        }

        .secondary {
            margin-top: 5px;
            font-size: 12px;
        }
    }

    .button:hover, .button:focus {
        background: $standout-color-alt;
    }


}



/**
 * Progress bar
 */

.p_bar {
    display: block;
    width: 100%;
    height: 2px;
    background: $third-color;


    span {
        padding: 0;
        margin: 0;
        display: block;
        height: 2px;
        background: $main-color;
    }
}